@page "/Lifecycle/index"

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var item in EventType)
{@item <hr />}

@functions{
    List<string> EventType = new List<string>();
    protected override void OnInit()
    {
        EventType.Add(" 1 OnInit");
    }
    protected override async Task OnInitAsync()
    {
        EventType.Add("2 OnInit Async");
        await Task.Delay(1000);
    }
    protected override void OnParametersSet()
    {
        EventType.Add("3 On Parameter set ");
    }
    protected override async Task OnParametersSetAsync()
    {
        EventType.Add(" 4 OnParametersSet Async Started");
        await Task.Delay(1000);
    }
    protected override bool ShouldRender()
    {
        EventType.Add(" 5 Should render called");
        return true;
    }
    protected override void OnAfterRender()
    {
        EventType.Add(" 6 OnAfterRenderStarted");
    }
    protected override async Task OnAfterRenderAsync()
    {
        EventType.Add(" 7 OnAfterRender Async Started");
        await Task.Delay(1000);
    }
}